CREATE TABLE users (
	id INTEGER NOT NULL, 
	email VARCHAR NOT NULL, 
	full_name VARCHAR, 
	hashed_password VARCHAR NOT NULL, 
	is_active BOOLEAN, 
	is_verified BOOLEAN, 
	created_at DATETIME DEFAULT CURRENT_TIMESTAMP, updated_at DATETIME, 
	PRIMARY KEY (id)
);
CREATE INDEX ix_users_id ON users (id);
CREATE UNIQUE INDEX ix_users_email ON users (email);
CREATE TABLE password_reset_codes (
	id INTEGER NOT NULL, 
	email VARCHAR NOT NULL, 
	code VARCHAR NOT NULL, 
	created_at DATETIME, used BOOLEAN, 
	PRIMARY KEY (id)
);
CREATE INDEX ix_password_reset_codes_id ON password_reset_codes (id);
CREATE INDEX ix_password_reset_codes_email ON password_reset_codes (email);
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
CREATE TABLE image_analyses (
	id INTEGER NOT NULL, 
	filename VARCHAR NOT NULL, 
	result_class VARCHAR(10), 
	confidence FLOAT, 
	description VARCHAR, 
	status VARCHAR(9) NOT NULL, 
	submitted_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
	PRIMARY KEY (id)
);
CREATE INDEX ix_image_analyses_id ON image_analyses (id);
